{% extends 'basetemp.html' %}
         {% block head %}
         {{ super() }}
         {% endblock %}
         {% block content %}
<img src=http://ecx.images-amazon.com/images/I/41fdg3GBy%2BL.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31SqF5FuDPL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41ybbjjNFNL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41cIipCWa5L._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41M1yfGxZFL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41fLL%2Bs9mFL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41j7MtPRW0L._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41rU6Ie2fyL._SY300_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41I17JKxsvL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41nmCe63A-L._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31698-DpDYL._SX395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/51TEus19KML._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41aknbMb%2BCL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41C4sc1W6yL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/411pSidgBML._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/414TTx5SGRL._SX300_.jpg height='100' width='100'>
{% endblock %}
