{% extends 'basetemp.html' %}
         {% block head %}
         {{ super() }}
         {% endblock %}
         {% block content %}
<img src=http://ecx.images-amazon.com/images/I/319jhtzsxWL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41MNXRmO%2BcL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41hHC87iWBL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41xgv7nG8HL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41J6RjlNCJL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/3158XTaSlKL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31NMZ%2BWNVLL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31Gv3Nis3aL._SX395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41CgDb1oFNL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41Cilk0XTdL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31Zuh7aR7VL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31kkqVgnwmL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41Y2bpxKCZL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41yGd78YRaL._SY395_.jpg height='100' width='100'>
{% endblock %}
