{% extends 'basetemp.html' %}
         {% block head %}
         {{ super() }}
         {% endblock %}
         {% block content %}
<img src=http://ecx.images-amazon.com/images/I/31q-x2OKJXL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41XJb4TtrBL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41WmTFjIG3L._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41OQZ2UgtpL._SX395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/419SlN5vyQL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41rg-8nwcXL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41TESCvNimL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41I0wA30LOL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31Wlwm4vcCL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41NDoEy2ruL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41ieCc5nNPL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/412KobH5MoL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41dF-gRKBPL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31Nz6JYKHnL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41GK8E3ArYL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/31fRGJoTkEL._SY395_.jpg height='100' width='100'>
<img src=http://ecx.images-amazon.com/images/I/41QvKVypAEL._SY395_.jpg height='100' width='100'>
{% endblock %}
