<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Title</title>
    <script>
        var base='http://127.0.0.1:5000/submit?'
        var asin='{{asin}}'
        var cluster='{{cluster}}'
        function like(theUrl)
            {
                var xmlHttp = new XMLHttpRequest();
                var urlwargs=theUrl.concat("&like=1&","asin=",asin,"&cluster=",cluster);
                //window.alert(urlwargs);
                getHttp(urlwargs);
                refreshPage();
            }
        function dislike(theUrl)
            {
                var xmlHttp = new XMLHttpRequest();
                var urlwargs=theUrl.concat("&like=0&","asin=",asin,"&cluster=",cluster);
                getHttp(urlwargs);
                refreshPage();

            }
        function getHttp(theUrl)
            {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }
        function refreshPage(){
            window.location.reload();
        }
    </script>
    <nav class="navbar navbar-default">
         <div class="container-fluid">
             <div class="navbar-header">
            <a class="navbar-brand" href="#">What are you Aboot?</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="suggestions">User Suggestions</a></li>
            <li><a href="userchoices">View Choices</a></li>
            <li><a href="groupview">View Groups</a></li>
                <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Select User <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="userdrop">

                <script>
                var users = {{users|tojson}};
                var text = "";
                var i;
                for (i = 0; i < users.length; i++) {
                    text += "<li><a href=?user="+users[i]+">"+users[i]+"</li>";
                }
                document.getElementById("userdrop").innerHTML = text;
                </script>
            </ul>
            <li class="active" float="right"><a href="">{{activeuser}}</a></li>
        </ul>
        </div>
    </nav>
</head>
<body align="center">


<img src={{string}}>
    <br>
    <button onclick="like('http://127.0.0.1:5000/submit?user={{activeuser}}')">Like</button>
    <button onclick="dislike('http://127.0.0.1:5000/submit?user={{activeuser}}')">Dislike</button>
    <br>
    <br>
 Cluster: {{cluster}}
</body>
</html>